<!DOCTYPE html>
<html lang="kr" ng-app>
<head>
	<meta charset="utf-8">
	<title>Step04_class.html</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<style type="text/css">
		.box{
			width: 100px;
			height: 100px;
			border: 1px solid red;
			background-color: #0f0;
		}
	</style>
	<script src="js/angular.min.js"></script>
</head>
<body>
	<h3>ng-class 테스트</h3>
	<button ng-click="isBox=true">box 적용</button>
	<button ng-click="isBox=false">box 취소</button>
	<div ng-class="{box:isBox}">
		box
	</div>
	박스로 만들기 <input type="checkbox" ng-model="isChecked"/>
	<div ng-class="{box:isChecked}">box2</div>

	버튼을 크게 만들기 <input type="checkbox" ng-model="isLarge"/><br>
	<button class="btn btn-primary" ng-class="{'btn-lg':isLarge}">버튼</button>
</body>
</html>

