<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Step04_class2.html</title>
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<script src="js/angular.min.js"></script>
</head>
<body>
<div class="container">
	<h3>tab 의 동작을 angularJs 로 하기</h3>
	<ul class="nav nav-tabs" ng-init="currentActive='one'">
		<li ng-class="{active:currentActive=='one'}">
			<a ng-click="currentActive='one'" href="#one">하나</a>
		</li>
		<li ng-class="{active:currentActive=='two'}">
			<a ng-click="currentActive='two'" href="#two">두울</a>
		</li>
		<li ng-class="{active:currentActive=='three'}">
			<a ng-click="currentActive='three'" href="#three">세엣</a>
		</li>
	</ul>
	<div class="tab-content">
		<div ng-class="{active:currentActive=='one'}" class="tab-pane" id="one">
			<p class="bg-success">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur enim vel, non eaque eos obcaecati odio tempore quo fugiat perferendis! Assumenda saepe doloremque ab amet facere hic. Sint, non, doloribus!</p>
		</div>
		<div ng-class="{active:currentActive=='two'}" class="tab-pane" id="two">
			<p class="bg-primary">Two Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero necessitatibus provident ad alias repellat odit omnis tempora consequuntur quaerat fugit minus, esse optio rerum, fugiat, repudiandae, quasi. Eaque, laboriosam, neque.</p>
		</div>
		<div ng-class="{active:currentActive=='three'}" class="tab-pane" id="three">
			<p class="bg-warning">Three Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, error non labore autem doloribus tempora, animi veritatis provident distinctio neque recusandae voluptatem beatae ad nobis, sapiente quaerat maxime aliquid perferendis.</p>
		</div>
	</div>
</div>	
</body>
</html>
